body {
  background: #eceef1;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.nav-wrapper {
  float: none;
  padding: 10px 30px;
  height: 60px;
  font-size: 12px;
}
.form {
  display: flex;
  width: 380px;
  margin: auto;
  background: white;
  border-radius: 2px;
  border: 1px solid #131313;
  padding: 30px;
}
